params {
  m28b_v5_dev_tree = null
  m28b_v5_dev_pools = null
  m28b_v5_dev_preflight_report = null
  m28b_v5_dev_preflight_manifest = null
  m28b_v5_validation_tree = null
  m28b_v5_validation_pools = null
  m28b_v5_validation_preflight_report = null
  m28b_v5_validation_preflight_manifest = null
  m28b_v5_preflight_reproducibility = null
  m28b_v5_genetic_map = null
  m28b_v5_baseline_template = null
  m28b_v5_m28_preregistration = "${baseDir}/../conf/m28_lai_simulation_preflight_preregistration.v2.json"
  m28b_v5_preregistration = "${baseDir}/../conf/m28b_lai_optimal_matching_preregistration.v5.json"
  m28b_v5_results_dir = "${baseDir}/../results/28b_v5_individual_safe_matching_audit"
  m28b_v5_container_image = "dnabr-m28-lai-sim:0.1.1"
  m28b_v5_container_digest = "sha256:1f08736aa2750eac4ab8fb0506fb22bad91d2266b7b02b9e35d971f554b807f7"
  m28b_v5_container_options = System.getenv('DNABR_CONTAINER_OPTIONS') ?: ''
  m28b_v5_cpus = 1
  m28b_v5_memory = "4 GB"
  m28b_v5_time = "60m"
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
}
