params {
  m28c_full_reference_vcf = "${baseDir}/../results/28c_b0_input_preflight/run6/seed-20260818/m28c_ingest/m28c_b0_reference.vcf.gz"
  m28c_full_reference_tbi = "${baseDir}/../results/28c_b0_input_preflight/run6/seed-20260818/m28c_ingest/m28c_b0_reference.vcf.gz.tbi"
  m28c_full_target_vcf = "${baseDir}/../results/28c_b0_input_preflight/run6/seed-20260818/m28c_ingest/m28c_b0_target.vcf.gz"
  m28c_full_target_tbi = "${baseDir}/../results/28c_b0_input_preflight/run6/seed-20260818/m28c_ingest/m28c_b0_target.vcf.gz.tbi"
  m28c_full_sample_map = "${baseDir}/../results/28c_b0_input_preflight/run6/seed-20260818/m28c_b0/m28c_b0_reference.sample_map.tsv"
  m28c_full_b0_markers = "${baseDir}/../results/28b_lai_optimal_matching_audit/run1/m28b_v4_validation/m28b_v4_validation_B0.tsv.gz"
  m28c_full_genetic_map = "${baseDir}/../results/28c_gnomix_training_smoke/inputs/genetic.map.chr22"
  m28c_full_gnomix_config = "${baseDir}/../conf/m28c_gnomix_full_b0.yaml"
  m28c_full_preregistration = "${baseDir}/../conf/m28c_gnomix_full_b0_preregistration.json"
  m28c_full_results_dir = "${baseDir}/../results/28c_gnomix_full_b0/replicate-A"
  m28c_full_replicate = "A"
  m28c_full_container_image = "dnabr-m28c-gnomix:e758f2c-r5"
  m28c_full_container_digest = "sha256:b89353efc9a4a5953519fa9f066728e2f63d0e9125fc9fc771ef3ea9bb9c961c"
  m28c_full_container_options = System.getenv('DNABR_CONTAINER_OPTIONS') ?: ''

  m28c_full_validate_cpus = 2
  m28c_full_validate_memory = "4 GB"
  m28c_full_validate_time = "15m"
  m28c_full_train_cpus = 4
  m28c_full_train_memory = "24 GB"
  m28c_full_train_time = "60m"
  m28c_full_infer_cpus = 4
  m28c_full_infer_memory = "8 GB"
  m28c_full_infer_time = "15m"
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 1
}
