params {
  m29_gnomix_preregistration = "${baseDir}/../conf/m29_root_gnomix_b0_preregistration.json"
  m29_gnomix_production_contract = "${baseDir}/../conf/m29_root_b0_production_preregistration.json"
  m29_gnomix_template_contract = "${baseDir}/../conf/m28c_gnomix_full_b0_preregistration.json"
  m29_gnomix_genetic_map = "${baseDir}/../results/28c_gnomix_training_smoke/inputs/genetic.map.chr22"
  m29_gnomix_config = "${baseDir}/../conf/m28c_gnomix_full_b0.yaml"
  m29_gnomix_results_dir = "${baseDir}/../results/29_root_gnomix_b0"

  m29_gnomix_container = "dnabr-m28c-gnomix:e758f2c-r5"
  m29_gnomix_container_digest = "sha256:b89353efc9a4a5953519fa9f066728e2f63d0e9125fc9fc771ef3ea9bb9c961c"
  m29_gnomix_container_options = "--network none --user 1017:1020"
  m29_gnomix_max_parallel_roots = 2
  m29_gnomix_min_host_memory_gib = 20
  m29_gnomix_memory = "8 GB"
  m29_gnomix_peak_rss_stop_gib = 6.4
  m29_gnomix_validate_time = "20m"
  m29_gnomix_train_time = "60m"
  m29_gnomix_infer_time = "20m"

  m29_gnomix_root17_reference_vcf = null
  m29_gnomix_root17_reference_tbi = null
  m29_gnomix_root17_target_vcf = null
  m29_gnomix_root17_target_tbi = null
  m29_gnomix_root17_sample_map = null
  m29_gnomix_root17_b0_markers = null
  m29_gnomix_root17_selection_report = null
  m29_gnomix_root17_selection_manifest = null
  m29_gnomix_root17_materialization_report = null
  m29_gnomix_root17_materialization_manifest = null
  m29_gnomix_root17_ingest_report = null
  m29_gnomix_root17_ingest_manifest = null

  m29_gnomix_root18_reference_vcf = null
  m29_gnomix_root18_reference_tbi = null
  m29_gnomix_root18_target_vcf = null
  m29_gnomix_root18_target_tbi = null
  m29_gnomix_root18_sample_map = null
  m29_gnomix_root18_b0_markers = null
  m29_gnomix_root18_selection_report = null
  m29_gnomix_root18_selection_manifest = null
  m29_gnomix_root18_materialization_report = null
  m29_gnomix_root18_materialization_manifest = null
  m29_gnomix_root18_ingest_report = null
  m29_gnomix_root18_ingest_manifest = null
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
}
