params {
  m29_preregistration = "${baseDir}/../conf/m29_same_locus_dev_preregistration.json"
  m29_genetic_map = null
  m29_results_dir = "${baseDir}/../results/29_same_locus_dev"
  m29_container_image = "dnabr-m29-same-locus:0.1.0"
  m29_container_options = System.getenv('DNABR_CONTAINER_OPTIONS') ?: ''
  m29_cpus = 4
  m29_memory = "16 GB"
  m29_time = "4h"

  m29_root_a_tree = null
  m29_root_a_pools = null
  m29_root_a_report = null
  m29_root_a_manifest = null
  m29_root_a_catalog = null
  m29_root_a_haplotypes = null
  m29_root_a_truth = null
  m29_root_a_fb = null
  m29_root_a_msp = null
  m29_root_a_binding = null

  m29_root_b_tree = null
  m29_root_b_pools = null
  m29_root_b_report = null
  m29_root_b_manifest = null
  m29_root_b_catalog = null
  m29_root_b_haplotypes = null
  m29_root_b_truth = null
  m29_root_b_fb = null
  m29_root_b_msp = null
  m29_root_b_binding = null
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
}
