params {
  m29_b0_root17_tree = null
  m29_b0_root17_pools = null
  m29_b0_root17_report = null
  m29_b0_root17_manifest = null
  m29_b0_root17_mosaic = null
  m29_b0_root18_tree = null
  m29_b0_root18_pools = null
  m29_b0_root18_report = null
  m29_b0_root18_manifest = null
  m29_b0_root18_mosaic = null
  m29_b0_reproducibility = null
  m29_b0_genetic_map = null
  m29_b0_baseline_template = null
  m29_b0_m28_contract = "${baseDir}/../conf/m28_lai_simulation_preflight_preregistration.v2.json"
  m29_b0_m28b_contract = "${baseDir}/../conf/m28b_lai_optimal_matching_preregistration.v5.json"
  m29_b0_production_contract = "${baseDir}/../conf/m29_root_b0_production_preregistration.json"
  m29_b0_results_dir = "${baseDir}/../results/29_root_b0_production"
  m29_b0_sim_container = "dnabr-m28-lai-sim:0.1.1"
  m29_b0_gnomix_container = "dnabr-m28c-gnomix:e758f2c-r5"
  m29_b0_container_options = System.getenv('DNABR_CONTAINER_OPTIONS') ?: ''
}

docker.enabled = true
process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
}
