params {
  m32_occ_preregistration = "${baseDir}/../conf/m32_real_occupancy_preregistration.json"
  m32_occ_results_dir = "${baseDir}/../results/32_real_occupancy"
  m32_occ_run_id = null
  m32_occ_git_commit = null
  m32_occ_genetic_map = null
  m32_occ_root17_sites = null
  m32_occ_root17_flare_vcf = null
  m32_occ_root18_sites = null
  m32_occ_root18_flare_vcf = null
  m32_occ_cpus = 1
  m32_occ_memory = '2 GB'
  m32_occ_time = '20m'
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 2
}
