params {
  m33_pre4_preregistration = "${baseDir}/../conf/m33_pre4_preregistration.json"
  m33_pre4_results_dir = "${baseDir}/../results/33_pre4_contract"
  m33_pre4_run_id = null
  m33_pre4_git_commit = null
  m33_pre4_container_image = 'sha256:2c30d018028636ac1b7a4890641e04b3e15be8c79d991dfade35b90db0e17bd1'
  m33_pre4_container_options = '--network none --memory 1g'
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 1
}
