params {
  m33_asset_contract_json = "${baseDir}/../conf/m33_asset_manifest_contract.json"
  m33_asset_contract_results_dir = "${baseDir}/../results/33_asset_manifest_contract"
  m33_asset_contract_run_id = null
  m33_asset_contract_git_commit = null
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 1
}
