params {
  m33_dev_score_run_id = 'm33-pre4a-r0-linear-r020-score-20260825a'
  m33_dev_score_results_dir = '/home/jose.tantalean/projects/lai-exploracion-datos/work/m33-development-20260825a/pre4a-score'
  m33_dev_score_prediction_dir = '/home/jose.tantalean/projects/lai-exploracion-datos/work/m33-development-20260825a/pre4a-predict/m33-pre4a-r0-linear-r020-predict-20260825a'
  m33_dev_score_runtime_dir = '/home/jose.tantalean/projects/lai-exploracion-datos/work/m33-development-20260825a'
  m33_dev_score_oci_image = 'us-central1-docker.pkg.dev/uspbr-242713/dnabr-lai/m33-t0a@sha256:c03864a9ed0c56b00fd1a234daee2d17ddfa57d4c426628bd59cd9daf351ee99'
  m33_dev_score_candidates = [
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q01', arm:'RD', bundle:'R0.local_linear.r0.2.qq01.RD.prediction'],
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q01', arm:'RE', bundle:'R0.local_linear.r0.2.qq01.RE.prediction'],
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q05', arm:'RD', bundle:'R0.local_linear.r0.2.qq05.RD.prediction'],
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q05', arm:'RE', bundle:'R0.local_linear.r0.2.qq05.RE.prediction'],
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q20', arm:'RD', bundle:'R0.local_linear.r0.2.qq20.RD.prediction'],
    [rotation:'R0', family:'local_linear', radius:0.2, share:'q20', arm:'RE', bundle:'R0.local_linear.r0.2.qq20.RE.prediction']
  ]
  m33_dev_screen_cpus = 1
  m33_dev_screen_memory = '1 GB'
  m33_dev_screen_time = '1m'
  m33_dev_screen_max_forks = 1
  m33_dev_predict_cpus = 1
  m33_dev_predict_memory = '1 GB'
  m33_dev_predict_time = '1m'
  m33_dev_predict_max_forks = 1
}

docker.enabled = true
workDir = '/home/jose.tantalean/projects/lai-exploracion-datos/work/m33-development-20260825a/nxf-pre4a-score-work'

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  container = params.m33_dev_score_oci_image
  containerOptions = '--network none --memory 4g --user 1017:1020'
}
