params {
  m33_t0a_run_id = null
  m33_t0a_results_dir = null
  m33_t0a_marker_count = 512
  m33_t0a_implementation_commit = null
  m33_t0a_source_auth = null
  m33_t0a_oci_image = null
  m33_t0a_root17_dir = null
  m33_t0a_root17_verify = null
  m33_t0a_root17_map = null
  m33_t0a_root18_dir = null
  m33_t0a_root18_verify = null
  m33_t0a_root18_map = null
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 2
  container = params.m33_t0a_oci_image
  containerOptions = '--network none --memory 4g --user 1017:1020'
}
