params {
    m33_f0_sanitize_roots_manifest = null
    m33_f0_sanitize_source_auth = null
    m33_f0_sanitize_git_commit = null
    m33_f0_sanitize_results_dir = null
    m33_f0_sanitize_cpus = 2
    m33_f0_sanitize_memory = '8 GB'
    m33_f0_sanitize_time = '2h'
    m33_f0_sanitize_container_image = 'us-central1-docker.pkg.dev/uspbr-242713/dnabr-lai/m28-lai-sim@sha256:06e7b70a2484de19c73a18a6fc9ddefbfa1599e43cbcdcd60fd185495dfb9a19'
    m33_f0_sanitize_container_options = '--user 1017:1020'
}

process {
    withName: M33_SANITIZE_FLARE_F0 {
        publishDir = [path: { "${params.m33_f0_sanitize_results_dir}/root-${root_seed}" }, mode: 'copy', overwrite: false]
    }
}
