params {
  m33_ref_label_sham_run_id = null
  m33_ref_label_sham_results_dir = null
  m33_ref_label_sham_implementation_commit = null
  m33_ref_label_sham_source_auth = null
  m33_ref_label_sham_oci_image = null
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  maxForks = 1
  container = params.m33_ref_label_sham_oci_image
  containerOptions = '--network none --memory 1g --user 1017:1020'
}
