params {
  m34_smoke_run_id = null
  m34_smoke_results_dir = null
  m34_smoke_contract = null
  m34_smoke_oci_image = null
  m34_smoke_channels = 13
  m34_smoke_ancestries = 3
  m34_smoke_batch_size = 4
  m34_smoke_context_length = 37
  m34_smoke_haplotypes = 2
  m34_smoke_cpus = 1
  m34_smoke_memory = '4 GB'
  m34_smoke_time = '20m'
  m34_smoke_max_forks = 4
  // Override when the controller uses a different UID:GID.
  m34_smoke_container_user = '1017:1020'
}

docker.enabled = true

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 0
  container = params.m34_smoke_oci_image
  containerOptions = "--network none --user ${params.m34_smoke_container_user}"
}
